{% extends 'registration/base.html' %}

{% block tab_title %}
    خانه
{% endblock %}

{% block title %}
    لیست مقالات
{% endblock %}

{% block main %}
    <div class="row m-2">
        <div class="col-12">
        <!-- checking if there is anything to show -->
        {% if object_list %}
            <div class="card">
            <div class="card-body table-responsive p-0">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th>تصویر</th>
                    <th>عنوان</th>
                    <th>تاریخ‌انتشار</th>
                    <th>دسته‌بندی</th>
                    <th>نویسنده</th>
                    <th>وضعیت‌پست</th>
                    <th>مقاله‌ویژه</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                    {% for article in object_list %}
                        <tr>
                            <td>{{article.image_tag}}</td>
                            <td>{{article.title}}</td>
                            <td>{{article.jmodified}}</td>
                            <td>{{article.category_to_str}}</td>
                            <td>{{article.author.get_full_name}}</td>
                            <td>

                                {% if article.situation == 'p' %}
                                    <span class="badge badge-success">منتشرشده</span>
                                    <br>
                                    <span class="badge badge-primary">
                                        <a target="_blank" href="{% url 'blog:article_detail' article.slug %}"
                                           class="text-decoration-none text-white">نمایش‌</a>
                                    </span>

                                {% elif article.situation == 'i' %}
                                    <span class="badge badge-light">درحال بررسی</span>

                                    {% if user.is_superuser %}
                                        <span class="badge badge-secondary">
                                            <a target="_blank" href="{% url 'blog:preview' article.pk %}"
                                               class="text-decoration-none text-white">پیش‌نمایش</a>
                                        </span>
                                    {% endif %}

                                {% else %}

                                    {% if article.situation == 'd' %}
                                    <span class="badge badge-danger">پیش‌نویس</span>

                                    {% else %}
                                        <span class="badge badge-warning">برگشت داده شده</span>
                                    {% endif %}
                                    <br>
                                    <span class="badge badge-secondary">
                                        <a target="_blank" href="{% url 'blog:preview' article.pk %}"
                                           class="text-decoration-none text-white">پیش‌نمایش</a>
                                    </span>
                                {% endif %}

                            </td>
                            <td>
                                {% if article.is_special %}
                                    <i class="fas fa-check-circle" style="color: green;"></i>
                                {% else %}
                                    <i class="fas fa-minus-circle" style="color: red;"></i>
                                {% endif %}
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">

                                    {% if article.situation in 'db'|make_list or request.user.is_superuser %}
                                        <a href="{% url 'account:article_update' article.pk %}" title="ویرایش مقاله"
                                           class="btn btn-info">

                                        <ion-icon name="create-outline" style="font-size: 25px;"></ion-icon>
                                        </a>
                                    {% endif %}

                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'account:article_delete' article.pk %}" title="حذف مقاله"
                                           class="btn btn-danger">

                                            <ion-icon name="trash-outline" style="font-size: 25px;"></ion-icon>
                                        </a>
                                    {% endif %}
                                
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
            </div>
            <!-- /.card-body -->
        </div>
        {% else %}
            <h3 class="py-lg-4 px-lg-3">محتوایی برای نمایش وجود ندارد.</h3>
        {% endif %}
        <!-- /.card -->
        </div>
    </div>
    
{% endblock %}

