{% extends 'registration/base.html' %}

{% block title %}{% block tab_title %}
    تغییر رمز عبور
{% endblock %}{% endblock %}

{% block main %}
    <div class="row my-5">
        <div class="col-md-7 mx-auto">
        <!-- general form elements -->
            <div class="card card-success mr-3">
                <div class="card-header">
                    <h3 class="card-title float-left">پیام</h3>
                </div>
            <!-- /.card-header -->
            <!-- form start -->
                <form method="post" role="form">
                    <div class="card-body py-lg-5">
                        <span class="py-4">
                            رمز عبور کاربر<span class="text-bold"> {{ user.get_full_name }} </span>با موفقیت تغییر یافت.
                        </span>
                    </div>
                    <div class="d-flex justify-content-center my-3">
                        <a href="
                                {% if user.is_superuser or user.is_author %}
                                    {% url 'account:home' %}
                                {% else %}
                                    {% url 'account:profile' %}
                                {% endif %}"
                           class="btn btn-primary">
                            بازگشت به صفحه کاربری
                        </a>
                    </div>

                </form>
            </div>
        </div>

    </div>



{% endblock %}
