{% load static %}
{% load base_tag %}
<aside class="main-sidebar sidebar-dark-primary elevation-4">
    <!-- Brand Logo -->
    <a href="{% url 'blog:home' %}" class="brand-link">
      <img src="{% static 'registration/adminlte/assets/img/AdminLTELogo.png' %}" alt="AdminLTE Logo" class="brand-image img-circle elevation-3"
           style="opacity: .8">
      <span class="brand-text font-weight-light">وبلاگ من</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'registration/adminlte/assets/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="" class="d-block">{{user.get_full_name}}</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
                        <!-- with ion-icons -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
                <ion-icon name="albums-outline" class="icon-size"></ion-icon>
                <p>
                مقالات
                  <ion-icon class="right" name="chevron-back-outline" class="icon-size"></ion-icon>
              </p>
            </a>
            <ul class="nav nav-treeview">
                <li class="nav-item">
                    {% active_link request 'home' 'لیست مقالات' 'list-outline' %}
                </li>
                <li class="nav-item">
                    {% active_link request 'article_create' 'افزودن مقاله' 'create-outline' %}
                </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="" class="nav-link">
                <ion-icon name="person-outline" class="icon-size"></ion-icon>
                <p>
                پروفایل
                <span class="right badge badge-danger">جدید</span>
              </p>
            </a>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
  </aside>