{% extends 'blog/base.html' %}
{% load static %}


{% block title %} | {{article.title}} {% endblock %}

{% block main %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{{article.imgage.url}}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h2>{{ article.title }}</h2>
                    <!-- <span class="subheading">{{ article.subtitle }}</span> -->
                    <div style="text-align: left; margin-top: 30px;">
                        <time>
                            {{article.jmodified}}
                        </time>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Post Content-->
<article class="mb-4">
    <div class="container px-4 px-lg-5" style="text-align: justify;">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <p>{{article.describtion|linebreaks}}</p>
                    
                    نوشته شده توسط :
                    <a href="#">{{article.author}}</a>
                    <div style="display:inline-block;">
                        ، {% for category in article.category.all %}
                            <a href="{% url 'blog:category' category.slug %}">{{category}}</a>  
                        {% endfor %}
                    </div>
                </p>
            </div>
        </div>
    </div>
</article>
{% endblock %}