@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');

body{
  direction: rtl;
  text-align: right;
}
html * {
  font-family: 'Vazir', Arial, sans-serif !important;
}
.post-meta {
  text-align: left;
}
.ms-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}
.py-lg-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.a {
  text-decoration: none;
}

.nav {
  font-family: 'Vazir', Arial, sans-serif !important;
}

.li,
.acc-link {
  color: #000;
  display: block;
  float: left;
  padding-inline: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.2s;
}

.li .a {
  color: #FFFFFF;
}

.li:hover {
  background: rgba(56, 211, 136, 0.52);
  cursor: pointer;
}

ul li ul {
  background: none;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 5px;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: row;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.modified-date {
  display:inline-block;
  margin-right:5px;
}
.popular-article {
    width: max-content;
    height: max-content;
    text-align: right;
    padding: 1.2rem;
    border: 1px solid #d9d9d9;
    border-radius: 5px;
    position: absolute;
    left: 15px;
    top: auto;
    box-shadow: -5px 5px 15px #d9d9d9d9;
}