@import url('https://cdn.jsdelivr.net/gh/rastikerdar/vazir-font@v30.1.0/dist/font-face.css');

body{
  direction: rtl;
  text-align: right;
}
html * {
  font-family: 'Vazir', Arial, sans-serif !important;
}
.post-meta {
  text-align: left;
}
.ms-auto {
  margin-right: auto !important;
  margin-left: 0 !important;
}
.py-lg-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}
.a {
  text-decoration: none;
}

.nav {
  font-family: sansarif;
}
.li {
  color: #000;
  display: block;
  float: left;
  padding-inline: 1rem;
  position: relative;
  text-decoration: none;
  transition-duration: 0.2s;
}

.li .a {
  color: #000;
}

.li:hover {
  background: rgba(255, 0, 0, 0.39);
  cursor: pointer;
}

ul li ul {
  background: none;
  visibility: hidden;
  opacity: 0;
  min-width: 5rem;
  position: absolute;
  transition: all 0.2s ease;
  margin-top: 5px;
  left: 0;
  display: none;
}

ul li:hover > ul,
ul li ul:hover {
  visibility: visible;
  opacity: 1;
  display: row;
}

ul li ul li {
  clear: both;
  width: 100%;
}
.modified-date {
  display:inline-block;
  margin-right:5px;
}