{% extends 'blog/base.html' %}

{% load static %}
{% block main %}

<!-- Page Header-->
<header class="masthead" style="background-image: url('{% static "blog/assets/img/home-bg.jpg" %}')">
    <div class="container position-relative px-4 px-lg-5">
        <div class="row gx-4 gx-lg-5 justify-content-center">
            <div class="col-md-10 col-lg-8 col-xl-7">
                <div class="site-heading">
                    <h1>صفحه اصلی</h1>
                </div>
            </div>
        </div>
    </div>
</header>


<!-- Main Content-->
<div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
        <div class="col-md-10 col-lg-8 col-xl-7">
            {% for article in page_obj %}
                <!-- Post preview-->
                <div class="post-preview">
                    <small>
                        {% for category in article.category.active %}
                          <a href="{% url 'blog:category' category.slug %}">{{category}}</a>  
                        {% endfor %}
                    </small>
                    <a href="{% url 'blog:article_detail' article.slug %} ">
                        <h2 class="post-title"> {{ article.title }} </h2>
                        <h4 class="post-subtitle"> {{ article.subtitle }} </h4>
                    </a>
                    
                    <p class="post-meta">
                        نوشته شده توسط :‌
                        <a href="#"> {{article.author}} </a>
                        {{article.jmodified}}
                    </p>
                </div>
                <!-- Divider-->
                <hr class="my-4" />
            {% endfor %}
            <!-- Pager-->
            {% if is_paginated %}
                <div class="d-flex justify-content-end mb-4">
                    {% if page_obj.has_next %}
                    <a class="btn btn-primary text-uppercase m-xl-1" href="{% url 'blog:home' page_obj.next_page_number %}">
                        صفحه بعد &larr;
                    </a>
                    {% endif %}
                    {% if page_obj.has_previous %}
                    <a class="order-first btn btn-primary text-uppercase m-xl-1" href="{% url 'blog:home' page_obj.previous_page_number %}">
                        &rarr; صفحه قبل
                    </a>
                    {% endif %}
                </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}